@model IEnumerable<DekanatWebExample.Models.Group>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Groups";
    var paged = (PagedList.IPagedList)Model;
}

<h2>Groups</h2>

<div class="panel-group">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                @Html.ActionLink("New Group", "Create", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationProgram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationProgram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>

<hr/>
Page @(paged.PageCount < paged.PageNumber ? 0 : paged.PageNumber) of @paged.PageCount
@Html.PagedListPager(paged, page => Url.Action("Index", new { page }))