@model IEnumerable<DekanatWebExample.Models.Student>

@{
    ViewBag.Title = "Students";
}

    <h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form>
    Group: @Html.DropDownList("groupID", ViewBag.Groups as SelectList)
    Name: @Html.TextBox("searchString")
    <input type="submit" value="Search" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Studbilet)
            @Html.ActionLink("v", "Index", new { sortOrder = "Studbilet" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
            @Html.ActionLink("v", "Index", new { sortOrder = "Name" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
            @Html.ActionLink("v", "Index", new { sortOrder = "Group" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Studbilet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BirthDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Group.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
